/*
    font-family: 'Lato', sans-serif;

    font-family: 'Roboto', sans-serif;
*/
:root {
    --dark-blue-color: #1b2c5d;
    --lite-blue-color: #1291c3;
    --main-text-color: #6e6e6e;
    --second-bg-color: #c1efde;
    --box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
/************* Global CSS*************/
* {
    text-decoration: none;
    list-style: none;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}
.card {
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
}
form button,
form .button {
    padding: .5rem 4rem !important;
    background: linear-gradient(to right, #202b59, #1291c3);
    border-radius: 25px !important;
    color: #fff !important;
    font-weight: 700 !important;
    transition: .5s ease;
}
form button:hover,
form .button:hover {
    background: linear-gradient(to left, #202b59, #1291c3) !important;
    color: #fff;
}
.cta {
    padding: .4rem 1rem .3rem;
    background: linear-gradient(to right, #202b59, #1291c3);
    border-radius: 25px;
    color: #fff;
    font-weight: 700;
    transition: .5s ease;
}
.cta:hover {
    color: #fff;
    background: linear-gradient(to left, #202b59, #1291c3);
}
.rounded-full {
    border-radius: 50%;
}
.text-grey {
    color: #868686 !important;
}
/************ End Global CSS************/
#wrapper {
    overflow-x: hidden;
}
#sidebar-toggle {
    background: transparent;
    border: none;
    box-shadow: none;
}
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
    background-image:
            linear-gradient(to bottom, #1291c3, transparent),
            url('../images/background.jpg');
}

#sidebar-wrapper .sidebar-heading {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sidebar-wrapper .sidebar-heading {
    font-weight: bold;
    color: #fff;
}
#sidebar-wrapper .sidebar-heading img {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    margin-right: .5rem;
}

#sidebar-wrapper .menu-links li {
    width: 10.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    border-radius: 25px;
    border: 2px solid #fff;
    margin: 1rem 2rem 1rem auto;
    transition: .3s all ease;
    position: relative;
}
.white-arrow {
    position: absolute;
    left: -1.5rem;
    display: none;
    transition: .3s all ease;
    transition-delay: .1s;
}

#sidebar-wrapper .menu-links li a {
    text-decoration: none;
    color: #fff;
}
#sidebar-wrapper .menu-links li:hover {
    background-color: #fff;
}
#sidebar-wrapper .menu-links li:hover .white-arrow {
    display: block;
}
#sidebar-wrapper .menu-links li:hover a {
    font-size: 16px;
    background: linear-gradient(to right, #202b59, #1291c3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    border: 2px solid #fff;
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
}

.list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
}

/**************Main page styling*************/
.scroll {
    height: 90vh;
    overflow: auto;
    /*scrollbar-width: thin;*/
}

.scroll::-webkit-scrollbar {
    width: 10px;
}

.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ddd;
    border-radius: 15px;
    background-image: linear-gradient(to top, #a7ddf2, #85bad6, #6797ba, #4d759e, #375481, #385481, #395580, #3a5580, #52769c, #6797ba, #85bad6, #a7ddf2);
}

.scroll::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #202b59, #1291c3);
    border-radius: 15px;
}



/* Support for Firefox Scrollbar */
.scroll {
    overflow-y: scroll;
    scrollbar-color:  #202b59 #1291c3;
    scrollbar-width: thin;
}

/* Support for Firefox Scrollbar */

.title-span {
    position: relative;
    background: linear-gradient(to right, #202b59, #1291c3);
    border-radius: 25px;
    max-width: fit-content;
    padding: .35rem 1rem .1rem 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-span .circle {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 2px solid #fff;
    background: linear-gradient(to right, #202b59, #1291c3);
    left: 0;
    top: 0;
}
.title-span h4 {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    /*margin-top: .2rem;*/
}

.main-grid {
    border-top: 1px solid #868686;
    border-bottom: 1px solid #868686;
}
.first-col {
    border-right: 1px solid #868686;
}
.bottom-border {
    border-bottom: 1px solid #868686;
}
/**************Main page styling*************/


/**************Login form*************/

.login-page
{
    position: relative;
    min-height: 600px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.login-page:before, .login-page:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 25px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 35px 20px #777;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
}
.login-page:after
{
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
    right: 10px;
    left: auto;
}

.login-page h1 {
    font-size: 34px;
    font-weight: 700;
    margin: 2rem auto;
    background: linear-gradient(to right, #202b59 20%, #1291c3 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.login-page h3 {
    font-size: 28px;
    font-weight: 600;
    margin: 2rem auto 3rem auto;
    background: linear-gradient(to right, #202b59, #1291c3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.input-div {
    position: relative;
    width: 100%;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    padding: .5rem;
    margin-bottom: 2rem;
}
.input-div input {
    border: none;
    width: 100%;
    margin-left: 2rem;
    outline: none !important;
    background: none;
}
.input-div img {
    position: absolute;
    left: 1rem;
    top: .8rem;
    width: 18px;
}

.login-form a,
.login-form span {
    color: #868686;
    transition: .3s;
}
.login-form a:hover {
    color: var(--dark-blue-color) !important;
}
.welcome-col {
    height: 100%;
    width: 100%;
    background-image:
            linear-gradient(to bottom, #1291c3, transparent),
            url('../images/background.jpg');
}
.welcome-col h2 {
    color: #fff !important;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
}
.content-list,
.content-list a {
    color: #fff;
}
/**************Login form*************/

/**************Multistep Form Styling*************/
.form-step {
    display: none;
    animation: animate .5s;
    transform-origin: top;
}
@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }
    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}
.form-step-active {
    display: block;
}
.progressbar {
    position: relative;
    counter-reset: step;
    width: 90%;
    margin: auto;
    margin-bottom: 4rem !important;
}
.progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    color: #fff;
    font-weight: 600;
}
.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + .5rem);
    font-size: .8rem;
    color: #fff;
    white-space: nowrap;
    background: linear-gradient(to right, #202b59, #1291c3);
    border-radius: 25px;
    max-width: fit-content;
    padding: .35rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-step::before {
    counter-increment: step;
    content: counter(step);
}
.progressbar::before,
.progress {
    content: '';
    position: absolute;
    height: 4px;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    background-color: #dcdcdc;
}
.progress {
    background: linear-gradient(to right, #202b59, #1291c3);
    width: 0;
    transition: .3s;
}
.progress-step-active {
    background: linear-gradient(to right, #202b59, #1291c3);
}

/**************Multistep Form Styling*************/

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}
